<html>
    <head>
        <meta charset="utf-8">
        <title>Blog of Project X</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>P채ivi채. T채h채n tulee keho.</h1>
    </body>
</html>